.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgb(0, 0, 0);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
  border-width: 2px;
}

.row {
  align-items: stretch;
  width: 100%;
}

.container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowDish {
  margin: 10px 70px -15px 100px;
}

.column {
  align-items: stretch;
  width: 100%;
}

.rowRestaurant {
  align-items: flex-start;
  background-image: url(../public/KalamazooBG.png);
  background-size: cover;
  background-position: bottom 0px right;
  margin: 0px 0px 0px 0px;
  border: solid 3px;
}
